@font-face {
    font-family: "DeliusUnicase-Regular-400";
    src: url(/fonts/DeliusUnicase-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Medium-500";
    src: url(/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto-Regular-400";
    src: url(/fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    transition: transform .5s;

    &:hover {
        transform: scale(1.07);
    }
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.title {
    padding: 120px 0 80px 0;
    text-align: center;
    font-family: "DeliusUnicase-Regular-400";
}

.like {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    background-image: url(/img/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    transform: translateY(-150%);
    transition: transform .5s ease-in-out;

    &:hover {
        transform: translateY(0);
        background-size: 60%;
        
    }
}

.download {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    background-image: url(/img/download.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    transform: translateY(-150%);
    transition: transform .5s ease-in-out;

    &:hover {
        transform: translateY(0);
        background-size: 60%;
    }
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;

    &:hover .like {
        transform: translateY(0);
    }

    &:hover .download {
        transform: translateY(0);
    }
}

.cardSubTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc((1rem + 20px) * -1);
    padding: 0 20px;
    color: white;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -3px 0px 5px #000000;
}

.cardSubTitle-author {
    font-family: "Roboto-Medium-500";
    color: #fff;
}

.cardSubTitle-date {
    font-family: "Roboto-Regular-400";
    color: #E0E0E0;
}

.grid-first {

    &__cards {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 370px 370px 370px;
    }

    &__card {

        &:nth-child(4n+1) {
            grid-column: 1/2;
        }

        &:nth-child(4n+2) {
            grid-column: 2/4;
        }

        &:nth-child(4n+3) {
            grid-column: 1/3;
        }

        &:nth-child(4n+4) {
            grid-column: 3/4;
        }
    }
}

.grid-second {

    &__cards {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 370px);
    }

    &__card {

        &_double-double {
            grid-row: span 2;
            grid-column: span 2;
        }

        &_double-vertical {
            grid-row: span 2;
        }

        &_double-horizontal {
            grid-column: span 2;
        }
    }
}

.grid-third {
    padding-bottom: 120px;

    &__cards {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(5, 370px);
    }

    &__card {
        
        &_double-vertical {
            grid-row: span 2;
        }

        &_double-horizontal {
            grid-column: span 2;
        }
    }
}